body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-right {
    display: flex;
    align-items: center;
}

.flex-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enconstar-direita {
    align-items: end;
}

#volume:before {
    content: "Volume: "
}

.gap {
    gap: 10vw;
}

.small-gap {
    gap: 10px;
}

input[type="number"] { 
    text-align: center;
    border: none;
    background-color: var(--background);
    color: var(--pink);
    font-size: 0.9rem;
    border: 1px solid var(--background);
    width: 5rem;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    color: var(--pink);
}


input[type="number"]:focus {
    outline: none !important;
}

input[type="number"]:focus, input[type="number"]:hover {
    border-radius: 10px;
    border: 1px solid var(--pink);
}

h2 {
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
    max-width: 25vw;
}